@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Satisfy');


.parallax-container {
  background: rgba(15, 12, 41, .96);
  background: -webkit-linear-gradient(to right, rgba(36, 36, 62, .96), rgba(48, 43, 99, .96), rgba(15, 12, 41, .96));
  background: linear-gradient(to right, rgba(36, 36, 62, .96), rgba(48, 43, 99, .96), rgba(15, 12, 41, .96));

  color: #fff;
  text-align: center;

  padding: 2em 1em;
  min-height: 750px;
}

.oneLiner {
  font-size: 1.5em;
  font-family: 'Satisfy',
    cursive;
  max-width: 500px;
  margin: 1em auto;
}

.p-desc {
  max-width: 600px;

  padding: 1em .5em;
  margin: 0 auto;
  font-size: 1.12em;

  margin-top: 1em;
}

section {
  padding: 2em 1em;
  margin: 0 auto;
}

section .section-image {
  width: 100%;
  min-height: 500px;

  content: "";


  /* background-size: cover; */

  background-repeat: no-repeat;
  margin-top: .5em;
  /* border: 4px solid red; */
}

section .carousel img {
  width: 90%;
}

.bhs-font,
section h3 {
  font-family: 'Black Han Sans',
    sans-serif;
}

/* section h3 {
  text-decoration-line: underline;
} */

section.about p {
  font-size: 1.2em;
}

@media (max-width: 600px) {
  .parallax-container {
    min-height: 130vh;
  }
}